<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <link rel="stylesheet" href="/public/styles/index.css">
</head>

<body>
    <main class="idle">
        <div id="time-container">
            <h2 id="time-left">0</h2>
            <h3 id="time-unit">s</h3>
        </div>
        <p id="time-message">Get ready!</p>
    </main>

    <script src="/public/scripts/index.js" type="module"></script>
</body>

</html>
